body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.clear{
    clear: both;
}
/* main */
/* desktop */

    #landing{
        position: relative;
        text-align: center;
        background: #3498db;
        font-family: 'Ubuntu', sans-serif;
    }
    #landing img{
        width: 300px;
        margin: 0;
        padding: 0;
    }
    #landing h1{
        color: #fff;
    }
    #landing h3{
        color: #b2bec3;
        padding-bottom: 30px;
    }
    #landing .slide{
        top: 94%;
        position: absolute;
        padding: 30px 0;
        width: 1370px;
        transform: rotate(2deg);
        background: #3498db;  
        border-bottom: 1px solid grey;      
    }
    /* about */
    #about .aboutSide{
        border-left: 4px solid #1abc9c;
    }
    #about{
        margin-top: 35px;
    }
    #about a#cv{
        background: #1abc9c;
        color: #fff;
        padding: 10px;
        border-radius: 20px 0px 20px 0px;
    }
    #about .skills{
        padding: 45px;
    }
    #about .progress{
        height: 20px;
        font-size: 13px;
        margin-top: 3px;
        margin-bottom: 10px;
    }
    #about .progress-bar{
        background-color: #1abc9c;
    }    
    /* services */
    #services{
        margin-top: 30px;
        position: relative;
        background: #786fa6;
        padding-bottom: 50px;
    }
    #services .container{
        border-right: 3px solid #1abc9c;        
    }
    #services .slide{
        top: -10%;
        left: 0%;
        position: absolute;
        padding: 40px 0;
        width: 1370px;
        transform: rotate(-2deg);
        background: #786fa6;  
    }
    #services p{
        padding: 5px;
        text-align: justify;
        color: white;
    }
    #services h1{
        color: #fff;
        position: absolute;
        right: 30px;
    }
    #services ul{
        padding-top: 50px;
        margin-left: 40px;
    }
    #services li{
        width: 30%;
        text-align: center;
        display: inline-block;
        margin-right: 20px;
    }
    #services img{
        width: 100px;
    }
    #services li:last-child h3{
        margin-left: 10px;
    }
    #services li:nth-child(2) h3{
        margin-left: -15px;
    }
    #services li:first-child h3{
        margin-left: -5px;
    }    
    #services ul.toHover li h3{
        border-radius: 0 0 30px 30px;
        padding: 5px 20px;
        color: white;
        opacity: 0.5;
        font-size: 25px;
    }
    #services ul li:hover{
        box-shadow: 5px 5px 20px black;
        transition: 1s ease-in-out;
    }
    #services .slide1{
        padding: 30px 0;
        width: 1370px;
        transform: rotate(-2deg);
        background: #786fa6;  
    }
    /* button */    
  
  a {
    color: #e86256;
    text-decoration: none;
  }
  
  /* -------------------------------- 
  
  Back to Top - by CodyHouse.co
  
  -------------------------------- */
  
  .cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #3498db url(images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    border-radius: 30px;
  }
  
  .cd-top.cd-top--show,
  .cd-top.cd-top--fade-out,
  .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  }
  
  .cd-top.cd-top--show {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top.cd-top--fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }
  
  .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
  }
  
  @media only screen and (min-width: 768px) {
    .cd-top {
      right: 20px;
      bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cd-top {
      height: 60px;
      width: 60px;
      right: 30px;
      bottom: 30px;
    }
  }
/* contact */
#contact{
    z-index: 150;
    margin-top: 60px;
    margin-bottom: 30px;
}
#contact .container .row .contactSide{
    border-left: 4px solid #1abc9c;
}
#contact form{
    margin-top: 40px;
}
#contact input{
    padding: 10px;
}
#contact input[type=text].sub{
    width: 99%;
}
#contact input[type=text] {
    width: 50%;
    border: none;
    border-bottom: 1px solid grey;
}
#contact input[type=email] {
    width: 48%;
    border: none;
    border-bottom: 1px solid grey;
}
#contact textarea{
    width: 99%;
    border: none;
    border-bottom: 1px solid grey;
}
#contact input[type=submit]{
    z-index: 500;
    padding: 5px 30px;
    background: #1abc9c;
    border: none;
    border-radius: 0 0 30px 30px;
    color: white; 
}
/* blog */
#blog{
    padding-top: 20px;
}
#blog li{
    position: relative;    
    color: grey;
    display: block;
}
#blog li img{
    display: block;
    width: 150px;
}
#blog li:first-child{
    background: #a29bfe;
}
#blog li:nth-child(2){
    background: #feca57;
}
#blog li:last-child{
    background: #1dd1a1;
}
#blog li .card{
    background: transparent;
    border: 0;
    width: 500px;
    z-index: 150;
    position: absolute;
    top: 8%;
    left: 15%;
    color: #fff;
}
/* map */
#map{
    position: relative;
    margin-top: 30px;
}
#map iframe{
    width: 100%;
    height: 300px;
}

#map .slide1{
    bottom: -5%;
    left: 0%;
    position: absolute;
    padding: 40px 0;
    width: 1370px;
    transform: rotate(-2deg);
    background: #fff;  
}
/* hobbies */
#hobbies{
    color: #b2bec3;
    margin-top: -2px;
    position: relative;
    padding-top: 0px;
    background: #786fa6;
    padding-bottom: 20px;
}
#hobbies .container{
    border-right: 3px solid #1abc9c;
}
#hobbies .bottom{
    top: -10%;
    left: -5%;
    position: absolute;
    padding: 60px 0;
    width: 1470px;
    transform: rotate(-2deg);
    background: #786fa6;  
}
#hobbies img{
    width: 200px;
}
#hobbies ul li{
    display: inline-block;
}
/* footer */
#footer{
    color: grey;
    text-align: center;    
    background: #2c3e50;
    padding: 20px 0;
}
#footer ul{
    color: #fff;
    font-size: 30px;
}
#footer ul li{
    display: inline;
}
@import url(https://fonts.googleapis.com/css?family=Khula:700);
.hidden {
  opacity:0;
}
.console-container {
  font-family:Khula;
  font-size:35px;
  text-align:center;
  height:100px;
  display:block;
  color:white;
  margin:auto;
  margin-bottom: 0;
}
.console-underscore {
   display:inline-block;
}